@font-face {
  font-family: "iconfont"; /* Project id 2848233 */
  src: url('iconfont.woff2?t=1636267247483') format('woff2'),
       url('iconfont.woff?t=1636267247483') format('woff'),
       url('iconfont.ttf?t=1636267247483') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before {
  content: "\e607";
}

.icon-caidan:before {
  content: "\e608";
}

.icon-baocun:before {
  content: "\e609";
}

.icon-changpian:before {
  content: "\e60a";
}

.icon-danchu:before {
  content: "\e60b";
}

.icon-fasheta:before {
  content: "\e60c";
}

.icon-junhengqi:before {
  content: "\e60d";
}

.icon-jingyin:before {
  content: "\e60e";
}

.icon-kuaitui:before {
  content: "\e60f";
}

.icon-kuaijin:before {
  content: "\e610";
}

.icon-labaguangbo:before {
  content: "\e611";
}

.icon-luzhi:before {
  content: "\e612";
}

.icon-laba:before {
  content: "\e613";
}

.icon-maikefeng:before {
  content: "\e614";
}

.icon-shanchu:before {
  content: "\e615";
}

.icon-shouyinji:before {
  content: "\e616";
}

.icon-quxiaobofang:before {
  content: "\e617";
}

.icon-tianjia:before {
  content: "\e618";
}

.icon-wenjianjia:before {
  content: "\e619";
}

.icon-tianjiachangpian:before {
  content: "\e61a";
}

.icon-wuxianpu:before {
  content: "\e61b";
}

.icon-xin:before {
  content: "\e61c";
}

.icon-zanting1:before {
  content: "\e61d";
}

.icon-zanting:before {
  content: "\e61e";
}

.icon-cidai:before {
  content: "\e61f";
}

.icon-yinliang:before {
  content: "\e620";
}

.icon-xunhuan:before {
  content: "\e621";
}

.icon-zhongbo:before {
  content: "\e622";
}

